## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## files
/packages/**/*.js
!/packages/exmg-cli/*
/packages/**/*.d.ts
/packages/**/*-css.ts
/packages/**/*.tsbuildinfo
/demo/src/*.js
/demo/**/*.d.ts
/demo/**/*-css.ts

## temp folders
/.tmp/

