## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
/packages/**/node_modules/

## files
/packages/**/*.js
/packages/**/*.d.ts
/packages/**/*-css.ts
/demo/**/*.js
/demo/**/*.d.ts
/demo/**/*-css.ts
/**/tsconfig.tsbuildinfo

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/

# Ex Machina
!environment.js
