@use '@material/web/dialog/internal/dialog-styles';

[slot='headline'] {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

[showing-fullscreen] [slot='headline'] {
  flex-direction: row;
}

.headline {
  flex: 1;
  display: block;
  text-align: left;
}
