@use '@material/web/dialog/internal/dialog-styles';

md-dialog {
  --md-dialog-container-color: var(--md-sys-color-surface);
}

[slot='header'] {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

[showing-fullscreen] [slot='header'] {
  flex-direction: row;
}

.headline {
  flex: 1;
}

form .row {
  display: flex;
  gap: 8px;
}

form .row > * {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 0.5rem;
}

form > * {
  display: contents;
}
