md-filled-button {
  --md-circular-progress-size: 32px;
  --md-filled-button-with-icon-spacing-trailing: 8px;
  --md-circular-progress-active-indicator-color: var(--md-sys-color-on-primary);
}

md-filled-button[disabled] {
  --md-circular-progress-active-indicator-color: var(--md-sys-color-on-surface);
}
