:host {
  display: flex;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.item {
  display: grid;
  height: 65px;
  width: 100%;
  grid-template-columns: 2rem 1fr 6rem;
  grid-auto-flow: column;
  align-items: center;
}

.progress {
  justify-self: flex-end;
  color: #a7a7a7;
  font-size: 0.8rem;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.loader {
  width: 18px;
  height: 18px;
  border: 3px solid #0071dc;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.name-container {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.file-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-error {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.file-error {
  font-size: 0.7rem;
  color: #b00020;
}

.actions {
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
  width: 60px;
}

.error-icon,
.error-icon svg {
  fill: #b00020;
  font-weight: bold;
  width: 32px;
  height: 32px;
}

.success-icon,
.success-icon svg {
  fill: green;
  font-weight: bold;
  width: 32px;
  height: 32px;
}

.badge {
  display: flex;
  align-items: center;
  background-color: #aed8ff;
  margin-right: 4px;
  border-radius: 4px;
  color: #0071dc;
  padding: 6px;
  font-size: 0.6rem;
  height: 0.4rem;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.5px;
}

mwc-icon-button {
  color: #a7a7a7;
  --mdc-icon-size: 20px;
  --mdc-icon-button-size: 28px;
}

.status {
  display: flex;
  justify-content: center;
}

progress {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
