:host {
  display: flex;
  width: 100%;
}

.description {
  font-size: 0.675rem;
  text-transform: uppercase;
  opacity: 0.3;
  margin-top: 8px;
}

.drop {
  display: flex;
  width: 100%;
  position: relative;
  min-height: 160px;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface);
  border: 1px dashed var(--md-sys-color-outline);
  border-radius: 10px;
  box-sizing: border-box;
}

.drop-container {
  flex: 1;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drop-text {
  font-size: 1rem;
  margin-top: 8px;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.drop.dropHover {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%230071dc' stroke-width='4' stroke-dasharray='6%2c 10' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
}
