:root,
:host {
  --md-sys-color-background-light: #fbf8ff;
  --md-sys-color-on-background-light: #1a1b25;
  --md-sys-color-surface-light: #fbf8ff;
  --md-sys-color-surface-dim-light: #dad8e6;
  --md-sys-color-surface-bright-light: #fbf8ff;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-container-low-light: #f4f2ff;
  --md-sys-color-surface-container-light: #eeecfa;
  --md-sys-color-surface-container-high-light: #e9e7f5;
  --md-sys-color-surface-container-highest-light: #e3e1ef;
  --md-sys-color-on-surface-light: #1a1b25;
  --md-sys-color-surface-variant-light: #e2e0f6;
  --md-sys-color-on-surface-variant-light: #454556;
  --md-sys-color-inverse-surface-light: #2f303a;
  --md-sys-color-inverse-on-surface-light: #f1effd;
  --md-sys-color-outline-light: #737385;
  --md-sys-color-outline-variant-light: #c5c5d9;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-tint-light: #3543f3;
  --md-sys-color-primary-light: #0e1ddd;
  --md-sys-color-on-primary-light: #dedeff;
  --md-sys-color-primary-container-light: #4452ff;
  --md-sys-color-on-primary-container-light: #ebeaff;
  --md-sys-color-inverse-primary-light: #bec2ff;
  --md-sys-color-inverse-on-primary-light: #000ba6;
  --md-sys-color-secondary-light: #5057a5;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #afb5ff;
  --md-sys-color-on-secondary-container-light: #3c4390;
  --md-sys-color-tertiary-light: #7c008f;
  --md-sys-color-on-tertiary-light: #ffd4fd;
  --md-sys-color-tertiary-container-light: #ac2ec0;
  --md-sys-color-on-tertiary-container-light: #ffe4fc;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-container-light: #410002;

  --md-sys-color-background-dark: #12131c;
  --md-sys-color-on-background-dark: #e3e1ef;
  --md-sys-color-surface-dark: #12131c;
  --md-sys-color-surface-dim-dark: #12131c;
  --md-sys-color-surface-bright-dark: #383843;
  --md-sys-color-surface-container-lowest-dark: #0d0d17;
  --md-sys-color-surface-container-low-dark: #1a1b25;
  --md-sys-color-surface-container-dark: #1e1f29;
  --md-sys-color-surface-container-high-dark: #292933;
  --md-sys-color-surface-container-highest-dark: #34343e;
  --md-sys-color-on-surface-dark: #e3e1ef;
  --md-sys-color-surface-variant-dark: #454556;
  --md-sys-color-on-surface-variant-dark: #c5c5d9;
  --md-sys-color-inverse-surface-dark: #e3e1ef;
  --md-sys-color-inverse-on-surface-dark: #2f303a;
  --md-sys-color-outline-dark: #737385;
  --md-sys-color-outline-variant-dark: #454556;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-tint-dark: #bec2ff;
  --md-sys-color-primary-dark: #bec2ff;
  --md-sys-color-on-primary-dark: #000ba6;
  --md-sys-color-primary-container-dark: #3947f6;
  --md-sys-color-on-primary-container-dark: #d9daff;
  --md-sys-color-inverse-primary-dark: #3543f3;
  --md-sys-color-inverse-on-primary-dark: #ffffff;
  --md-sys-color-secondary-dark: #bec2ff;
  --md-sys-color-on-secondary-dark: #202774;
  --md-sys-color-secondary-container-dark: #313885;
  --md-sys-color-on-secondary-container-dark: #9ea5fa;
  --md-sys-color-tertiary-dark: #faabff;
  --md-sys-color-on-tertiary-dark: #570065;
  --md-sys-color-tertiary-container-dark: #a222b7;
  --md-sys-color-on-tertiary-container-dark: #ffd0fe;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-container-dark: #ffdad6;
}
