.demo-button {
  background-color: #4caf50; /* Green */
  border: 1px solid white;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.demo-button:focus {
  outline: none;
  background-color: #0070db;
}

exmg-grid {
  --exmg-arrow-upward-url: url('/assets/arrow-upward.svg');

  --mdc-theme-primary: #0070db;
  --mdc-theme-secondary: #0070db;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-on-surface: #02182b;

  --exmg-theme-table-toolbar-setting-list-item-active-bg-color: rgba(0, 112, 219, 0.4);
  --exmg-theme-table-toolbar-filter-item-active-bg-color: rgba(0, 112, 219, 0.4);
  --exmg-theme-grid-setting-checkbox-bg-color: var(--mdc-theme-primary);
}

exmg-grid.dark {
  --mdc-theme-primary: rgba(0, 112, 219, 1);
  --mdc-theme-secondary: rgba(0, 112, 219, 1);
  --mdc-theme-surface: black;
  --mdc-theme-on-surface: white;

  --exmg-theme-table-on-surface: var(--mdc-theme-on-surface);
  --exmg-theme-table-surface: var(--mdc-theme-surface);
  --exmg-theme-table-row-divider-color: #333;
  --exmg-theme-table-row-selected-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-row-selected-background-color: rgba(0, 112, 219, 0.4);
  --exmg-theme-table-row-hover-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-row-hover-background-color: rgba(0, 112, 219, 0.2);
  --exmg-theme-table-row-dragged-background-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-rows-expanded-divider-border: none;
  --exmg-theme-table-rows-expanded-border: none;
  --exmg-theme-table-rows-expanded-background-color: var(--mdc-theme-surface);
  --exmg-theme-table-rows-expanded-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-th-on-surface: var(--mdc-theme-on-surface);
  --exmg-theme-table-th-surface: var(--mdc-theme-surface);
  --exmg-theme-table-th-sortable-hover-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-columns-background-color: var(--mdc-theme-surface);

  // Toolbar
  --exmg-theme-table-toolbar-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-toolbar-background-color: var(--mdc-theme-surface);
  --exmg-theme-table-toolbar-border-top-radius: 1rem;
  --exmg-theme-table-toolbar-border-bottom-radius: 0rem;
  --exmg-theme-table-toolbar-active-bg-color: rgba(0, 112, 219, 0.2);
  --exmg-theme-table-toolbar-active-color: white;
}

exmg-grid.dark .selectable-checkbox {
  --mdc-checkbox-unchecked-color: white;
  --mdc-checkbox-disabled-color: #adadad;
  --mdc-checkbox-ink-color: #363636;
}
