@use '@material/typography/mixins' as typography;

h1 {
  @include typography.typography(headline1);
}

h2 {
  @include typography.typography(headline2);
}

h3 {
  @include typography.typography(headline3);
}

h4 {
  @include typography.typography(headline4);
}

h5 {
  @include typography.typography(headline5);
}

h6 {
  @include typography.typography(headline6);
}

body,
p {
  font-family: var(--mdc-typography-headline3-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}

.landing {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 75px;
  h3 {
    font-weight: 200;
  }
}

.elements {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  width: 100%;
  justify-content: space-evenly;
}

.elements > a {
  margin: 1rem;
}

.element {
  border: 1px solid rgb(240, 179, 68);
  color: black;
  padding: 1rem;
  &:hover {
    cursor: pointer;
  }
  h3 {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.demos {
  width: 100%;
  .sidemenu {
    color: #eee;
    background: rgb(31, 31, 35);
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    .sidemenu-header {
      padding: 1rem;
      h3 {
        font-size: 30px;
        margin: 0;
      }
    }
    .sidemenu-elements {
      overflow-y: scroll;
    }
    .element {
      color: #eee;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 1px solid rgb(240, 179, 68);
      &.active {
        color: rgb(240, 179, 68);
      }
      &:first-child {
        border-top: 1px solid rgb(240, 179, 68);
      }
    }
  }

  .header {
    width: calc(100% - 332px);
    height: 100px;
    margin-bottom: 0;
    margin-left: 300px;
    background: rgb(24, 24, 27);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    h3 {
      margin: 0;
      font-size: 30px;
    }
    .actions,
    .infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      exmg-button {
        width: 100%;
      }
      exmg-button:first-child {
        margin-bottom: 0.5rem;
      }
      .npm {
        text-decoration: none;
        color: #fff;
        background-color: rgb(216, 57, 65);
        text-align: center;
        letter-spacing: 0.5px;
        -webkit-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        padding: 0 16px;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
  .main {
    width: calc(100% - 300px);
    margin-left: 300px;
    height: calc(100vh - 132px);
  }
  iframe {
    border: none;
    height: 100%;
    width: 100%;
  }
}
