@use '@material/typography/mixins' as typography;

:host {
  font-family: var(--mdc-typography-headline3-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  --toolbar-height: 100px;
  --sidebar-width: 300px;
}

h1 {
  @include typography.typography(headline1);
}

h2 {
  @include typography.typography(headline2);
}

h3 {
  @include typography.typography(headline3);
}

h4 {
  @include typography.typography(headline4);
}

h5 {
  @include typography.typography(headline5);
}

h6 {
  @include typography.typography(headline6);
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.4rem;
  section {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: var(--toolbar-height);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    .logo {
      display: flex;
      justify-content: center;
      min-width: var(--sidebar-width);
      svg {
        width: 80%;
      }
    }
    .info {
      padding: 1rem;
      flex: 1;
      display: flex;
      .element {
        flex: 1;
      }
      .version {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.75);
      }
      .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          background: #14a5d0;
          border: none;
          padding: 0.6rem 1rem;
          color: white;
          font-weight: 600;
        }
      }
    }
  }
  .content {
    margin-top: var(--toolbar-height);
    display: flex;
    flex-direction: row;
    .main,
    .sidemenu {
      height: calc(100vh - var(--toolbar-height));
      min-width: var(--sidebar-width);
    }
    .main {
      flex: 1;
    }
    .sidemenu {
      background: #eee;
      li a {
        text-decoration: none;
        padding: 0.8rem 1rem;
        box-sizing: border-box;
        display: block;
        border-bottom: 1px solid #ddd;
        color: black;
      }
      li a:visited {
        text-decoration: none;
        color: black;
      }
      li a:hover {
        background: #ddd;
      }
      li {
        &.active {
          a {
            color: rgb(74, 163, 204);
          }
        }
      }
    }
  }
  iframe {
    border: none;
    height: 100%;
    width: 100%;
  }
}
