body {
  /* Theme info */
  --mdc-theme-primary: #0071dc;
  --mdc-theme-primary-hover: #0060ca;
  --mdc-theme-secondary: #ff6978;
  --mdc-theme-background: #f6f6f6;
  --mdc-theme-surface: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #03182a;
  --mdc-theme-on-surface: #03182a;

  /* Global vars */
  --app-seperator-color: rgba(0, 0, 0, 0.1);

  /* Paper styles */
  --primary-color: var(--mdc-theme-primary);
  --accent-color: var(--mdc-theme-secondary);
  --divider-color: var(--app-seperator-color);
  --error-color: #d22734;

  /* Main header colors */
  --app-drawer-width: 16rem;
  --app-toolbar-height: 3.6rem;
  --app-header-background-color: var(--mdc-theme-primary);
  --app-header-text-color: var(--mdc-theme-on-primary);
  --app-header-selected-color: var(--mdc-theme-on-primary);

  /* Drawer */
  --app-drawer-collapsed-width: 4rem;
  --app-drawer-background-color: #142b42;
  --app-drawer-background-hover-color: #20354b;
  --app-drawer-scrim-background: rgba(22, 43, 65, 0.8);

  /* Side menu */
  --exmg-sidemenu-background: var(--app-drawer-background-color);
  --exmg-sidemenu-group-text-color: white;
  --exmg-sidemenu-group-title: white;
  --exmg-sidemenu-item-text-color: white;
  --exmg-sidemenu-menu-footer-background-color: #223c57;
  --exmg-sidemenu-menu-border-color: #314e6c;
  --exmg-sidemenu-icon-color: rgba(255, 255, 255, 0.9);
  --exmg-sidemenu-active-background-color: var(--mdc-theme-primary);
  --exmg-sidemenu-badge-background-color: var(--mdc-theme-primary);
  --exmg-sidemenu-badge-text-color: var(--mdc-theme-on-primary);
  --exmg-sidemenu-hover-background-color: var(--app-drawer-background-hover-color);
  --exmg-sidemenu-selected-background-color: var(--mdc-theme-primary);
  --exmg-sidemenu-selected-text-color: white;
  --exmg-sidemenu-menu-header-background-color: var(--app-drawer-background-color);
  --exmg-sidemenu-badge-background-color: var(--mdc-theme-secondary);

  /* Form drawer */
  --exmg-form-drawer-header-separator-color: #314e6c;

  --content-menu-hover-color: var(--mdc-theme-on-surface);
  --content-menu-item-text-color: var(--mdc-theme-on-surface);
  --content-menu-selected-text-color: white;
  --content-menu-selected-background-color: var(--mdc-theme-primary);
  --content-menu-hover-background-color: #efefef;

  --paper-item-hover-background-color: yellow;

  --exmg-markdown-editor-border: var(--mdc-theme-primary);
  --exmg-markdown-editor-toolbar-background: var(--mdc-theme-primary);
  --exmg-markdown-editor-toolbar-label-background: var(--mdc-theme-primary);
  --exmg-markdown-editor-toolbar-button-background-hover: var(--mdc-theme-primary-hover);
  --exmg-markdown-editor-toolbar-seperator-color: var(--mdc-theme-on-primary);
  --exmg-markdown-editor-label-color: var(--mdc-theme-on-primary);
  --exmg-markdown-editor-toolbar-color: var(--mdc-theme-on-primary);
  --exmg-markdown-editor-toolbar-color-disabled: #aaa;
  --exmg-markdown-editor-preview-background: var(--mdc-theme-surface);
  --exmg-markdown-editor-code-hover: var(--mdc-theme-surface-hover);
  --exmg-markdown-editor-code-color: var(--mdc-theme-on-surface);
  --exmg-markdown-editor-code-background: var(--mdc-theme-surface);
}

body.dark {
  --dark-black: #000;
  --dark-ice: #f0f0ff;
  --dark-muted-black: rgb(24, 24, 27);
  --dark-double-muted-black: rgb(31, 31, 35);
  --dark-hover-black: rgb(38, 38, 44);

  /* Theme info */
  --mdc-theme-primary: #0057a8;
  --mdc-theme-secondary: var(--dark-ice);
  --mdc-theme-background: var(--dark-black);
  --mdc-theme-surface: var(--dark-double-muted-black);
  --mdc-theme-on-primary: var(--dark-ice);
  --mdc-theme-on-surface: var(--dark-ice);
  --mdc-theme-text-primary-on-background: var(--dark-ice);

  /* Global vars */
  --app-seperator-color: var(--app-drawer-background-color);

  /* Paper styles */
  --paper-card-background-color: var(--dark-double-muted-black);
  --primary-color: var(--mdc-theme-primary);
  --accent-color: var(--mdc-theme-secondary);
  --divider-color: var(--app-seperator-color);
  --error-color: var(--paper-deep-orange-a700);

  /* Main header colors */
  --app-drawer-width: 16rem;
  --app-toolbar-height: 56px;
  --app-header-background-color: var(--dark-muted-black);
  --app-header-text-color: var(--mdc-theme-on-primary);
  --app-header-selected-color: var(--mdc-theme-on-primary);
  --breadcrumbs-background-color: var(--dark-muted-black);

  /* Drawer */
  --app-drawer-collapsed-width: 4rem;
  --app-drawer-background-color: var(--dark-double-muted-black);
  --app-drawer-background-hover-color: var(--dark-hover-black);
  --app-drawer-scrim-background: rgba(22, 43, 65, 0.8);

  /* Side menu */
  --exmg-sidemenu-background: var(--app-drawer-background-color);
  --exmg-sidemenu-group-text-color: rgba(255, 255, 255, 0.7);
  --exmg-sidemenu-group-title: rgba(255, 255, 255, 0.7);
  --exmg-sidemenu-item-text-color: var(--dark-ice);
  --exmg-sidemenu-menu-footer-background-color: var(--dark-muted-black);
  --exmg-sidemenu-menu-border-color: var(--app-drawer-background-hover-color);
  --exmg-sidemenu-icon-color: rgba(255, 255, 255, 0.9);
  --exmg-sidemenu-active-background-color: var(--dark-muted-black);
  --exmg-sidemenu-badge-background-color: var(--mdc-theme-primary);
  --exmg-sidemenu-badge-text-color: var(--mdc-theme-on-primary);
  --exmg-sidemenu-hover-background-color: var(--app-drawer-background-hover-color);
  --exmg-sidemenu-selected-background-color: var(--dark-hover-black);
  --exmg-sidemenu-selected-text-color: var(--mdc-theme-primary);
  --exmg-sidemenu-menu-header-background-color: var(--dark-muted-black);

  /* Grid */
  --exmg-theme-table-surface: red;
  --exmg-table-color: var(--dark-double-muted-black);
  --exmg-table-card-background-color: var(--dark-double-muted-black);
  --exmg-table-row-divider-color: var(--dark-double-muted-black);
  --exmg-table-row-selected-background-color: var(--dark-double-muted-black);
  --exmg-table-row-hover-color: var(--dark-double-muted-black);
  --exmg-table-row-hover-background-color: var(--app-drawer-background-hover-color);
  --exmg-table-row-dragged-background-color: var(--dark-double-muted-black);
  --exmg-table-rows-expanded-divider-border: none;
  --exmg-table-rows-expanded-border: none;
  --exmg-table-rows-expanded-background-color: var(--dark-double-muted-black);
  --exmg-table-rows-expanded-color: var(--dark-double-muted-black);
  --exmg-table-th-color: var(--dark-double-muted-black);
  --exmg-table-th-sortable-hover-color: var(--dark-double-muted-black);
  --exmg-table-columns-background-color: green;

  --exmg-theme-table-on-surface: var(--mdc-theme-on-surface);
  --exmg-theme-table-surface: var(--mdc-theme-surface);
  --exmg-theme-table-row-divider-color: #333;
  --exmg-theme-table-row-selected-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-row-selected-background-color: rgba(0, 112, 219, 0.4);
  --exmg-theme-table-row-hover-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-row-hover-background-color: var(--app-drawer-background-hover-color);
  --exmg-theme-table-row-dragged-background-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-rows-expanded-divider-border: none;
  --exmg-theme-table-rows-expanded-border: none;
  --exmg-theme-table-rows-expanded-background-color: var(--mdc-theme-surface);
  --exmg-theme-table-rows-expanded-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-th-on-surface: var(--mdc-theme-on-surface);
  --exmg-theme-table-th-surface: var(--mdc-theme-surface);
  --exmg-theme-table-th-sortable-hover-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-columns-background-color: var(--mdc-theme-surface);

  /* Grid Toolbar */
  --exmg-theme-table-toolbar-color: var(--mdc-theme-on-surface);
  --exmg-theme-table-toolbar-background-color: var(--dark-black);
  --exmg-theme-table-toolbar-border-top-radius: 0rem;
  --exmg-theme-table-toolbar-border-bottom-radius: 0rem;
  --exmg-theme-table-toolbar-active-bg-color: rgba(0, 112, 219, 0.2);
  --exmg-theme-table-toolbar-active-color: white;

  /* Form drawer */
  --exmg-form-drawer-header-separator-color: #314e6c;

  /* Snackbar */
  --exmg-snack-bar-background-color: var(--app-drawer-background-color);

  --empty-page-border-color: var(--app-drawer-background-color);

  /* Paper item */
  --menu-item-hover-background-color: var(--app-drawer-background-hover-color);

  /* Loading */
  --loading-view-color: var(--mdc-theme-primary);

  /* Content menu */
  --content-menu-hover-color: white;
  --content-menu-item-text-color: var(--mdc-theme-on-surface);
  --content-menu-selected-text-color: var(--mdc-theme-primary);
  --content-menu-selected-background-color: var(--dark-hover-black);
  --content-menu-hover-background-color: var(--app-drawer-background-hover-color);

  /* Split card */
  --split-card-seperator-color: var(--app-drawer-background-hover-color);

  --paper-menu-background-color: var(--app-drawer-background-color);
  --paper-menu-color: var(--dark-ice);
  --paper-listbox-background-color: var(--app-drawer-background-color);
  --paper-listbox-color: var(--dark-ice);

  --toolbar-menu-hover-color: white;
  --toolbar-menu-hover-background-color: var(--app-drawer-background-hover-color);

  --paper-input-container-input-color: white;

  --paper-checkbox-label-color: var(--mdc-theme-on-surface);
  --paper-checkbox-unchecked-color: var(--mdc-theme-on-surface);

  --exmg-markdown-editor-border: var(--mdc-theme-primary);
  --exmg-markdown-editor-toolbar-background: var(--mdc-theme-primary);
  --exmg-markdown-editor-toolbar-label-background: var(--mdc-theme-primary);
  --exmg-markdown-editor-toolbar-button-background-hover: var(--mdc-theme-primary-hover);
  --exmg-markdown-editor-toolbar-seperator-color: var(--mdc-theme-on-primary);
  --exmg-markdown-editor-label-color: var(--mdc-theme-on-primary);
  --exmg-markdown-editor-toolbar-color: var(--mdc-theme-on-primary);
  --exmg-markdown-editor-toolbar-color-disabled: #aaa;
  --exmg-markdown-editor-preview-background: var(--mdc-theme-surface);
  --exmg-markdown-editor-code-hover: var(--mdc-theme-surface-hover);
  --exmg-markdown-editor-code-color: var(--mdc-theme-on-surface);
  --exmg-markdown-editor-code-background: var(--mdc-theme-surface);
}

body,
html {
  margin: 0;
  padding: 1rem;
<<<<<<< HEAD
  background: var(--mdc-theme-surface);
  font-family: 'Roboto';
=======
  font-family: Roboto;
>>>>>>> b54177a7db768d67ead57029569f09caa50d0878
  -webkit-font-smoothing: antialiased;
}

.centered {
  max-width: 1000px;
  margin: 3rem auto;
  border-radius: 16px;
}
