$exmg-drawer-color: #02182b;
$exmg-drawer-bg-color: #ffffff;

:host {
  paper-dialog {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    box-shadow: none;
    overflow: scroll;

    color: var(--exmg-drawer-color, var(--mdc-theme-on-surface, $exmg-drawer-color));
    background-color: var(--exmg-drawer-bg-color, var(--mdc-theme-surface, $exmg-drawer-bg-color));
  }
}
