@use "@material/typography/mixins" as typography;

$exmg-drawer-color: #02182b;
$exmg-drawer-bg-color: #ffffff;

:host {
  display: flex;
  @include typography.base;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    padding: 20px;
    border-bottom: 1px solid var(--exmg-form-drawer-header-separator-color, var(--mdc-theme-on-surface, rgba(#02182b, 0.1)));

    .title {
      @include typography.typography('headline5');
    }

    .header-buttons {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: flex-end;

      exmg-button {
        margin-left: 20px;
      }
    }
  }

  .form-elements {
    padding: 0 20px;
  }
}

:host(:not([disable-sticky-header])) .header {
  position: sticky;
  top: 0;
  background: var(--exmg-drawer-bg-color, var(--mdc-theme-surface, $exmg-drawer-bg-color));
  z-index: 1;
}
