@use '@material/typography/mixins' as typography;

$exmg-grid-toolbar-bg-color: #ffffff;
$exmg-grid-toolbar-active-bg-color: #e1f0fe;
$exmg-grid-toolbar-color: #02182b;
$exmg-grid-toolbar-active-color: #000000;

:host {
  display: block;
  @include typography.base;

  --toolbar-bg-color: var(--exmg-theme-table-toolbar-background-color, #{$exmg-grid-toolbar-bg-color});
  --toolbar-color: var(--exmg-theme-table-toolbar-color, #{$exmg-grid-toolbar-color});
  background-color: var(--toolbar-bg-color);
  color: var(--toolbar-color);

  border-radius: var(--exmg-theme-table-toolbar-border-top-radius, 0) var(--exmg-theme-table-toolbar-border-top-radius, 0)
    var(--exmg-theme-table-toolbar-border-bottom-radius, 0) var(--exmg-theme-table-toolbar-border-bottom-radius, 0);
}
.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;

  overflow-x: var(--exmg-theme-table-toolbar-overflow-x, initial);
  white-space: nowrap;

  &.active {
    --active-toolbar-bg-color: var(--exmg-theme-table-toolbar-active-bg-color);
    --active-toolbar-color: var(--exmg-theme-table-toolbar-active-color, #{$exmg-grid-toolbar-active-color});

    background-color: var(--active-toolbar-bg-color);
    color: var(--active-toolbar-color);

    .seperator {
      &.with-action-separator {
        border-left: 1px solid var(--active-toolbar-color);
      }
    }
    .description {
      color: var(--active-toolbar-color);
      flex: 1;
    }
  }
  .seperator {
    min-height:32px;
    &.with-action-separator {
      border-left: 1px solid var(--active-toolbar-color);
    }
  }
  .description {
    @include typography.typography('headline5');
    color: var(--toolbar-color);
    padding: 0 16px;
    height: 48px;
    flex: 1;
  }
}

.actions {
  padding: 0 16px;
  color: var(--mdc-theme-primary);
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 16px;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &.has-settings {
    padding-right: 16px;
  }
}

@media (max-width: 500px) {
  .wrapper .description {
    display: none;
  }
}
