@use '@material/typography/mixins' as typography;

$exmg-grid-toolbar-bg-color: #ffffff;
$exmg-grid-toolbar-active-bg-color: #e1f0fe;
$exmg-grid-toolbar-color: #02182b;
$exmg-grid-toolbar-active-color: #000000;

:host {
  display: block;
  @include typography.base;

  border-top-left-radius: var(--exmg-theme-table-radius, var(--exmg-surface-border-radius, 16px));
  border-top-right-radius: var(--exmg-theme-table-radius, var(--exmg-surface-border-radius, 16px));

  --toolbar-bg-color: var(--exmg-theme-table-toolbar-background-color, var(--md-sys-color-surface-container));
  --toolbar-color: var(--exmg-theme-table-toolbar-color, var(--md-sys-color-on-surface-container));
  background-color: var(--toolbar-bg-color);
  color: var(--toolbar-color);
}
.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px 10px 16px;

  overflow-x: var(--exmg-theme-table-toolbar-overflow-x, initial);
  white-space: nowrap;

  &.active {
    --active-toolbar-bg-color: var(--exmg-theme-table-toolbar-active-bg-color, var(--md-sys-color-secondary-container));
    --active-toolbar-color: var(--exmg-theme-table-toolbar-active-color, var(--md-sys-color-on-secondary-container));

    background-color: var(--active-toolbar-bg-color);
    color: var(--active-toolbar-color);

    .seperator {
      &.with-action-separator {
        border-left: 1px solid var(--active-toolbar-color);
      }
    }
    .description {
      color: var(--active-toolbar-color);
      flex: 1;
      margin-left: 8px;
    }
  }
  .seperator {
    min-height: 32px;
    &.with-action-separator {
      border-left: 1px solid var(--active-toolbar-color);
    }
  }
  .description {
    @include typography.typography('headline5');
    color: var(--toolbar-color);
    font-size: 1.25rem;
    padding: 0;
    height: 48px;
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.actions {
  padding: 0 8px 0 0;
  color: var(--mdc-theme-primary);
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .wrapper .description {
    display: none;
  }
}
