@use '../../node_modules/@material/typography';

$exmgPrimaryColor: #0070db !default;
$exmgSecondaryColor: #0070db !default;
$exmgSurfaceColor: #ffffff !default;
$exmgOnSurfaceColor: #02182b !default;
$exmgBackground: transparent !default;
$exmgOnBackground: #02182b !default;

@mixin sortable-col-padding() {
  padding-right: calc(var(--exmg-table-th-sort-icon-height) + var(--exmg-table-th-sort-margin-left));
  &.grid-col-number {
    padding-right: calc(
      var(--exmg-table-th-sort-icon-height) + var(--exmg-table-th-sort-margin-left) + var(--exmg-table-col-number-padding-right)
    );
  }
}

@mixin table-layout-fixed() {
  &[data-table-layout='fixed'] {
    table-layout: fixed;
    td:not(.grid-checkbox-cell) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    th,
    td {
      &.grid-checkbox-cell {
        width: var(--exmg-table-checkbox-cell-width);
      }
      &.no-ellipsis {
        text-overflow: initial;
      }
    }
  }
}

:host {
  @include typography.base;

  $exmgPrimaryColor: #0070db !default;
  $exmgSecondaryColor: #0070db !default;
  $exmgSurfaceColor: #ffffff !default;
  $exmgOnSurfaceColor: #02182b !default;
  $exmgBackground: transparent !default;
  $exmgOnBackground: #02182b !default;

  --exmg-arrow-upward-url: url('/node_modules/@exmg/exmg-grid/assets/arrow-upward.svg');
  --exmg-table-card-width: var(--exmg-theme-table-card-width, 100%);
  --exmg-table-card-margin-bottom: var(--exmg-theme-table-card-margin-bottom, 5px);

  --exmg-table-color: var(--exmg-theme-table-on-surface, #{$exmgOnSurfaceColor});
  --exmg-table-card-background-color: var(--exmg-theme-table-surface, #{$exmgSurfaceColor});
  --exmg-table-row-divider-color: var(--exmg-theme-table-row-divider-color, #{rgba($exmgOnSurfaceColor, 0.14)});

  --exmg-table-row-selected-color: var(--exmg-theme-table-row-selected-color, #{$exmgOnSurfaceColor});
  --exmg-table-row-selected-background-color: var(--exmg-theme-table-row-selected-background-color, #eef4fa);
  --exmg-table-row-hover-color: var(--exmg-theme-table-row-hover-color, #{$exmgOnSurfaceColor});
  --exmg-table-row-hover-background-color: var(--exmg-theme-table-row-hover-background-color, #f1f1f1);
  --exmg-table-row-dragged-background-color: var(--exmg-theme-table-row-dragged-background-color, #{$exmgOnSurfaceColor});
  --exmg-table-rows-expanded-divider-border: var(--exmg-theme-table-rows-expanded-divider-border, none);
  --exmg-table-rows-expanded-border: var(--exmg-theme-table-rows-expanded-border, none);
  --exmg-table-rows-expanded-background-color: var(--exmg-theme-table-rows-expanded-background-color, #{$exmgSurfaceColor});
  --exmg-table-rows-expanded-color: var(--exmg-theme-table-rows-expanded-color, #{$exmgOnSurfaceColor});
  --exmg-table-th-color: var(--exmg-theme-table-th-on-surface, #{$exmgOnSurfaceColor});
  --exmg-table-th-background-color: var(--exmg-theme-table-th-surface, #{$exmgSurfaceColor});
  --exmg-table-th-sortable-hover-color: var(--exmg-theme-table-th-sortable-hover-color, #{$exmgOnSurfaceColor});
  --exmg-table-columns-background-color: var(--exmg-theme-table-columns-background-color, #{$exmgSurfaceColor});

  --exmg-table-th-height: var(--exmg-theme-table-th-height, 48px);
  --exmg-table-th-sort-margin-left: var(--exmg-theme-table-th-sort-margin-left, 0px);
  --exmg-table-td-height: var(--exmg-theme-table-td-height, 48px);
  --exmg-table-th-sort-icon-height: var(--exmg-theme-table-th-sort-icon-height, 1em);
  --exmg-table-th-sort-icon-width: var(--exmg-theme-table-th-sort-icon-width, 1em);

  --exmg-table-col-number-padding-right: var(--exmg-theme-table-col-number-padding-right, 10px);
  --exmg-table-checkbox-cell-width: var(--exmg-theme-table-checkbox-cell-width, 24px);

  /* Adjust toolbar to grid */
  --exmg-table-toolbar-setting-position: var(--exmg-theme-table-toolbar-setting-position, absolute);
  /* End Adjust toolbar to grid */
}

::slotted([slot='pagination']) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: auto;
  border-top: 1px solid var(--exmg-table-row-divider-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

::slotted([slot='toolbar']) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
}

.table-card-container {
  @include typography.base;
  border: none;
  width: var(--exmg-table-card-width);
  margin: 0;
  padding: 0;
  box-shadow: var(--exmg-theme-table-box-shadow, none);
}
:host([with-toolbar]) {
  .table-card {
    border-top: 1px solid var(--exmg-table-row-divider-color);
  }
}
.table-card {
  @include typography.base;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: var(--exmg-table-card-width);
  background-color: var(--exmg-table-card-background-color);
  margin-bottom: var(--exmg-table-card-margin-bottom);
}

.table-container {
  overflow-x: auto;
}

table {
  @include table-layout-fixed();
  width: 100%;
  color: var(--exmg-table-color);
  border-spacing: 0;
  border: none;

  thead {
    tr,
    th {
      @include typography.typography('caption');
    }
  }

  tbody,
  tfoot {
    tr,
    td {
      @include typography.typography('body2');
    }
  }
}

td {
  height: var(--exmg-table-td-height);
}

.grid-toolbar th {
  padding: 0;
  text-align: left;
  > * {
    overflow-x: auto;
  }
}

.grid-columns {
  th {
    height: var(--exmg-table-th-height);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 2px;
    color: var(--exmg-table-th-color);
    background-color: var(--exmg-table-th-background-color);
    vertical-align: middle;
    text-align: left;

    user-select: none;
    white-space: nowrap;

    > span {
      vertical-align: middle;
      max-width: 100%;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    svg {
      fill: var(--exmg-table-th-color);
    }
  }
}

.grid-columns th,
tbody td {
  padding-left: 16px;
}

.grid-columns th:last-child,
tbody td:last-child {
  padding-right: 10px;
}

th,
td {
  border-top: 1px solid var(--exmg-table-row-divider-color);
}

tbody {
  td {
    height: var(--exmg-table-td-height);
    @include typography.typography('body2');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43px;
    letter-spacing: 0.3px;
    color: var(--exmg-table-color);
    svg {
      fill: var(--exmg-table-color);
    }
  }
}

/**** COLUMN SORT *********/
th[data-sort] {
  cursor: pointer;

  &:hover {
    color: var(--exmg-table-th-sortable-hover-color);
  }

  &::after {
    display: inline-block;
    content: '';
    -webkit-mask-image: var(--exmg-arrow-upward-url);
    mask-image: var(--exmg-arrow-upward-url);
    background-color: currentColor;
    background-size: contain;
    height: var(--exmg-table-th-sort-icon-height);
    width: var(--exmg-table-th-sort-icon-width);
    margin-left: var(--exmg-table-th-sort-margin-left);
    vertical-align: middle;
    opacity: 0;
  }
}

th[data-sort-direction]::after {
  opacity: 1;
  transition: transform 0.1s linear;
}

th[data-sort-direction='ASC']::after {
  transform: rotate(0deg);
}

th[data-sort-direction='DESC']::after {
  transform: rotate(180deg);
}
/**** COLUMN SORT END *********/

/**** SELECTABLE ROW *********/
tbody > tr:not(.grid-row-detail):hover {
  color: var(--exmg-table-row-hover-color);
  background-color: var(--exmg-table-row-hover-background-color);
  td {
    color: var(--exmg-table-row-hover-color);
  }
  svg {
    fill: var(--exmg-table-row-hover-color);
  }
}

tr[data-selected] {
  color: var(--exmg-table-row-selected-color);
  background-color: var(--exmg-table-row-selected-background-color);
  td {
    color: var(--exmg-table-row-selected-color);
  }
  svg {
    fill: var(--exmg-table-row-selected-color);
  }
}
/**** END SELECTABLE  ROW *********/

/**** EXPANDABLE ROW *********/
tbody {
  tr[data-has-expanded-detail],
  tr[data-has-expanded-detail]:hover,
  tr[data-is-row-expanded] {
    background-color: var(--exmg-table-rows-expanded-background-color);
    border: var(--exmg-table-rows-expanded-border);

    td {
      color: var(--exmg-table-rows-expanded-color);
      svg {
        fill: var(--exmg-table-rows-expanded-color);
      }
    }
  }

  tr[data-is-row-expanded] td {
    border-bottom: none;
  }

  tr[data-has-expanded-detail] td,
  tr[data-has-expanded-detail]:hover td {
    border-bottom: var(--exmg-table-rows-expanded-divider-border);
  }
}

tr.grid-row-detail {
  display: none;

  &[data-is-row-expanded] {
    display: table-row;
  }

  td {
    padding: 20px;
  }
}

tr .grid-icon-rotate[data-is-expanded] > * {
  transition: transform 0.1s linear;
  transform: rotate(180deg);
}

tr .grid-icon-rotate[data-is-expandable]:not([data-is-expanded]) > * {
  transition: transform 0.1s linear;
  transform: rotate(0deg);
}
/**** END EXPANDABLE ROW *********/

/**** START SORTABLE ROW *********/
.grid-row-drag-handler {
  cursor: move;
  vertical-align: middle;
  > * {
    vertical-align: middle;
  }
}
tr {
  &.dragged {
    background-color: var(--exmg-table-row-dragged-background-color);
    opacity: 0.25;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) inset;
  }

  &.cloned {
    background-color: var(--exmg-table-row-dragged-background-color);
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
  }
}
/**** END EXPANDABLE ROW *********/

/***** GRID UTILS ***/
tr td.grid-cell-visible-on-hover {
  text-align: center;
}

tr td.grid-cell-visible-on-hover > * {
  visibility: hidden;
}

tr:hover td.grid-cell-visible-on-hover > *,
tr[data-has-expanded-detail] td.grid-cell-visible-on-hover > * {
  visibility: visible;
}

tr td.grid-col-number,
tr th.grid-col-number {
  padding-right: var(--exmg-table-col-number-padding-right);
  text-align: right;
}

tr th.grid-col-number {
  > span {
    width: 100%;
  }
}
