// @import '../../node_modules/@material/theme/mdc-theme';
@import '../../node_modules/@material/typography/mdc-typography';

$exmg-grid-pagination-bg-color: #ffffff;
$exmg-grid-pagination-color: #02182b;
$exmg-grid-pagination-color-disabled: rgba($exmg-grid-pagination-color, 0.38);

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 10px;
  @include mdc-typography-base;
  background-color: var(--exmg-theme-table-pagination-bg-color, var(--mdc-theme-surface, $exmg-grid-pagination-bg-color));
  color: var(--exmg-theme-table-pagination-color, var(--mdc-theme-on-surface, $exmg-grid-pagination-color));
  overflow-x: auto;
  white-space: nowrap;

  .page-size {
    display: flex;
    flex-direction: row;
    margin-right: 26px;
    align-items: center;

    .page-size-label {
      margin-right: 10px;
      @include mdc-typography('body2');
    }
  }

  .page-range {
    display: flex;
    flex-direction: row;
    align-items: center;

    .page-range-label {
      margin-right: 44px;
      @include mdc-typography('body2');
    }

    .page-range-actions {
      user-select: none;
    }
  }
}

mwc-icon-button {
  color: var(--mdc-theme-primary);
}

mwc-icon-button[disabled] {
  color: var(--exmg-theme-table-on-surface-disabled, var(--mdc-theme-disabled, $exmg-grid-pagination-color-disabled));
}

@media (max-width: 600px) {
  .page-size-label {
    display: none;
  }
}

@media (max-width: 500px) {
  .wrapper .page-size {
    display: none;
  }
}

@media (max-width: 450px) {
  .wrapper {
    overflow-x: auto;
    white-space: nowrap;
    .page-range {
      min-width: 1px;
    }
  }
}
