@use '@material/typography/mixins' as typography;

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 10px;
  @include typography.base;
  background-color: var(--exmg-theme-table-pagination-bg-color, var(--md-sys-color-surface-container));
  color: var(--exmg-theme-table-pagination-color, var(--md-sys-color-on-surface-container));
  overflow-x: auto;
  white-space: nowrap;

  .page-size {
    display: flex;
    flex-direction: row;
    margin-right: 26px;
    align-items: center;

    .page-size-label {
      margin-right: 10px;
      @include typography.typography(body2);
    }
  }

  .page-range {
    display: flex;
    flex-direction: row;
    align-items: center;

    .page-range-label {
      margin-right: 44px;
      @include typography.typography(body2);
    }

    .page-range-actions {
      user-select: none;
    }
  }
}

@media (max-width: 600px) {
  .page-size-label {
    display: none;
  }
}

@media (max-width: 500px) {
  .wrapper .page-size {
    display: none;
  }
}

@media (max-width: 450px) {
  .wrapper {
    overflow-x: auto;
    white-space: nowrap;
    .page-range {
      min-width: 1px;
    }
  }
}
