@import '@material/typography/mdc-typography';
// @import '@material/theme/mdc-theme';

:host {
  height: 100%;
  width: var(--exmg-paper-sidemenu-sidth);
  background: var(--exmg-paper-sidemenu-background, white);
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  overflow: hidden;
  color: var(--default-paper-sidemenu-text-color);
  flex: 1;
  flex-basis: 0.000000001px;
  display: flex;
  flex-direction: column;
}

:host([collapsed]) hr {
  height: 1px;
}

paper-listbox {
  padding: 0;
  background: var(--exmg-paper-sidemenu-background);
}

:host([collapsed]) paper-item .title {
  opacity: 0;
  max-width: 0px;
}

.menu-body {
  flex: 1;
  flex-basis: 0.000000001px;
  overflow: auto;
}

.menu-footer {
  border-top: 1px solid var(--exmg-paper-sidemenu-menu-border-color, #ddd);
  background: var(--exmg-paper-sidemenu-menu-footer-background-color, #f9faf9);
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

:host([collapsed][footer-item]) .menu-footer {
  min-height: 94px;
  flex-direction: column;
}

.menu-footer button {
  cursor: pointer;
  background: none;
  border: none;
  height: 100%;
  padding: 0 8px;
  outline: none;
}
.menu-footer svg {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  justify-content: flex-end;
}

.menu-footer svg {
  margin: 0 4px;
  fill: var(--exmg-paper-sidemenu-icon-color, rgba(0, 0, 0, var(--dark-secondary-opacity)));
}

:host([narrow]) .menu-footer {
  display: none !important;
}

:host([collapsed]) .menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host([collapsed]) .menu-group {
  padding: 12px 0;
}
:host([collapsed]) .menu-group-title {
  height: 0;
  padding: 0;
  margin-bottom: 10px;
}

:host([collapsed]) .menu-footer svg {
  transform: rotate(180deg);
}
