/* NEW STYLES */ 
/** Editor **/

:host {
  display: block;
  --editor-border-color: var(--exmg-markdown-editor-border-color, var(--md-sys-color-primary));
  --editor-background-color: var(--exmg-markdown-editor-background-color, var(--md-sys-color-surface-container-high));
  --editor-code-background-color: var(--exmg-markdown-editor-code-background-color, var(--md-sys-color-surface-container-highest));
}

.container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--editor-border-color, --md-sys-color-primary);
  border-top-right-radius: 4px;
  background-color: var(--editor-code-background-color, --md-sys-color-surface-container-high);
  border-top-left-radius: 4px;
  &.preview {
    background-color: var(--editor-background-color, --md-sys-color-surface-container-high);
  }
}

#preview {
  display: none;
  overflow: scroll;
  &.preview {
    display: block;
  }
}

#editor {
  display: block;
  &.preview {
    display: none;
  }
}

slot[name='preview'] {
  display: none;
  &.preview {
    display: block;
  }
}

::slotted([slot='preview']) {
  overflow: scroll;
}

md-focus-ring {
  --md-focus-ring-shape: 16px;
}

/* Html rendering CSS */

.preview-content {
  padding: 0 0.3rem;
}