/* NEW STYLES */ 
/** Editor **/

:host {
  display: block;
  --exmg-markdown-editor-border-color: var(--md-sys-color-primary);
  --exmg-markdown-editor-background-color: var(--md-sys-color-surface-container-high);
  --exmg-markdown-editor-code-background-color: var(--md-sys-color-surface-container-highest);
}

.container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--exmg-markdown-editor-border-color, --md-sys-color-primary);
  border-top-right-radius: 4px;
  background-color: var(--exmg-markdown-editor-code-background-color, --md-sys-color-surface-container-high);
  border-top-left-radius: 4px;
  &.preview {
    background-color: var(--exmg-markdown-editor-background-color, --md-sys-color-surface-container-high);
  }
}

#preview {
  display: none;
  overflow: scroll;
  &.preview {
    display: block;
  }
}

#editor {
  display: block;
  &.preview {
    display: none;
  }
}

slot[name='preview'] {
  display: none;
  &.preview {
    display: block;
  }
}

::slotted([slot='preview']) {
  overflow: scroll;
}

/* Html rendering CSS */

.preview-content {
  padding: 0 0.3rem;
}