md-text-button {
  --md-circular-progress-size: 32px;
  --md-text-button-with-icon-spacing-trailing: 8px;
  --md-circular-progress-active-indicator-color: var(--md-sys-color-on-primary);
}

md-text-button[disabled] {
  --md-circular-progress-active-indicator-color: var(--md-sys-color-on-surface);
}

md-text-button[loading='true'] > slot.label {
  visibility: hidden;
}

md-circular-progress {
  position: absolute;
  left: calc(50% - 14px);
  top: 4px;
}
