:host {
  display: block;
  --_breadcrumbs-seperator-color: var(--breadcrumbs-seperator-color, var(--md-sys-color-primary, #0071dc));
  --_breadcrumbs-text-color: var(--breadcrumbs-text-color, var(--md-sys-color-primary, #0071dc));
  --_breadcrumbs-decoration-color: var(--breadcrumbs-decoration-color, var(--md-sys-color-primary, #0071dc));
  --_breadcrumbs-visited-color: var(--breadcrumbs-visited-color, var(--md-sys-color-primary, #0071dc));
  --_breadcrumbs-current-color: var(--breadcrumbs-current-color, var(--md-sys-color-primary, #0071dc));
  --_breadcrumbs-item-separator-size: var(--breadcrumbs-item-separator-size, 24px);
  --_breadcrumbs-item-separator-padding: var(breadcrumbs-item-separator-padding, 0);
  display: block;
  color: var(--breadcrumbs-text-color);
}

svg {
  height: var(--_breadcrumbs-item-separator-size);
  width: var(--_breadcrumbs-item-separator-size);
  min-height: var(--_breadcrumbs-item-separator-size);
  min-width: var(--_breadcrumbs-item-separator-size);
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--_breadcrumbs-item-separator-padding, 0);
  fill: var(--_breadcrumbs-seperator-color);
}

nav.breadcrumb li {
  display: inline;
}

li {
  margin: 0.25em 0 0.5em;
  padding: 0;
}

a[href] {
  color: var(--_breadcrumbs-text-color);
  text-decoration-color: var(--_breadcrumbs-decoration-color);
  text-decoration-skip-ink: none;
}

a:visited {
  text-decoration-color: var(--_breadcrumbs-visited-color);
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 0.25em;
  transform: rotate(15deg);
  border-right: 0.1em solid var(--_breadcrumbs-seperator-color);
  height: 0.8em;
  content: '';
}

:host([arrow-separator]) nav.breadcrumb li + li::before {
  display: none;
}

nav.breadcrumb [aria-current='page'] {
  color: var(--_breadcrumbs-current-color);
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 460px) {
  .breadcrumb-item {
    display: none;
  }
  .breadcrumb-item:first-child,
  .breadcrumb-item:last-child {
    display: initial;
  }
}
