.radio-group-container {
    display: flex;
}
.radio-group-container[invalid] {
    border: 1px solid red;
}
.radio-group-container.horizontal {
    flex-direction: row;
}
.radio-group-container.vertical {
    flex-direction: column;
}
