$defaultColor:  #0071e3;
$defaultColorForBoxShadow: rgba(131,192,253, 0.5);

:host {
  display: block;
  border: 1px solid #d2d2d7;
  border-radius: 12px;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  line-height: 1.23536;
  font-weight: 400;
  letter-spacing: -.022em;
  padding: 0px;
  color: rgba(29, 29, 31, 1);
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
::slotted(.figure) {
  text-align: center;
  font-size: 13px;
  color: rgba(29, 29, 31, 0.8);
}
::slotted(.figure.horizontal) {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}
::slotted([slot="title"]) {
  margin-bottom: 0.3rem;
}
:host label{
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
}
:host(:not([checked]):not([disabled]):hover){
  border: 1px solid #9d9da0;
}
:host([checked]) {
  outline: none;
  border: 2px solid #0071e3;
}
:host([checked]) label {
  padding: 14px;
}
:host(:focus-within) {
  box-shadow: 0 0 0 3px var(--mdc-theme-secondary-box-shadow, $defaultColorForBoxShadow);
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.description > .title {
  font-weight: 600;
}
.description > .body {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  margin-top: 0.5rem;
  color: rgba(29, 29, 31, 0.8);
}
.description > * {
  flex: 1;
}
.item.disabled > .description {
  opacity: 0.26;
}
.mdc-radio[hidden] {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
}
.mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--mdc-theme-secondary, $defaultColor);
}
.mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: var(--mdc-theme-secondary, $defaultColor);
}
