:host {
  display: block;

  --_exmg-form-content-margin-left: var(--exmg-form-content-margin-left, 0);
  --_exmg-form-container-margin-top: var(--exmg-form-container-margin-top, 1rem);
  --_exmg-form-container-margin-bottom: var(--exmg-form-container-margin-bottom, 1rem);
  --_exmg-form-divider-margin-top: var(--exmg-form-divider-margin-top, 2rem);

  // Aside
  --_exmg-form-aside-font-size: var(--exmg-form-aside-font-size, 0.875rem);
  --_exmg-form-aside-line-height: var(--exmg-form-aside-line-height, 1.25rem);
  --_exmg-form-aside-letter-spacing: var(--exmg-form-aside-letter-spacing, 0.0142857143em);
  --_exmg-form-aside-font-weight: var(--exmg-form-aside-font-weight, 400);
  --_exmg-form-aside-margin-left: var(--exmg-form-aside-margin-left, 1rem);
  --_exmg-form-aside-margin-right: var(--exmg-form-aside-margin-right, 5rem);
  --_exmg-form-aside-min-width: var(--exmg-form-aside-min-width, 180px);
}

.aside {
  line-height: var(--_exmg-form-aside-line-height);
  font-size: var(--_exmg-form-aside-font-size);
  letter-spacing: var(--_exmg-form-aside-letter-spacing);
  font-weight: var(--_exmg-form-aside-font-weight);
  color: var(--md-sys-color-on-surface);
  border-left: 1px solid var(--md-sys-color-outline-variant);
  box-sizing: border-box;
  margin-left: var(--_exmg-form-aside-margin-left);
  margin-right: var(--_exmg-form-aside-margin-right);
  min-height: 2rem;
  padding-left: 1rem;
  vertical-align: top;
  height: 100%;
  min-width: var(--_exmg-form-aside-min-width);
  flex: 0;
}

.aside.empty {
  display: none;
}

.content,
.container {
  display: flex;
}
.content {
  flex: 1;
}

.container {
  margin-top: var(--_exmg-form-container-margin-top);
  margin-bottom: var(--_exmg-form-container-margin-bottom);
}

.actions {
  display: flex;
  padding: 8px 4px;
  justify-content: flex-end;
}

.actions > * {
  margin-right: 8px;
}

.divider {
  margin-top: var(--_exmg-form-divider-margin-top);
}

.content {
  margin-left: var(--_exmg-form-content-margin-left);
}

.form-error {
  background-color: var(--md-sys-color-error-container, red);
  color: var(--md-sys-color-on-error-container, white);
}

.form-error > div {
  padding: 1rem;
}
